html, body {
	color: #000;
}
.submit input{
    background-image: url(../img/search_button.jpg);
    border: none;
    height: 34px;
    width: 210px;
}
.container {
    padding: 20px;
    overflow: hidden;
    background-color: #fff;
}
nav {
    float: left;
    padding: 20px;
}
